In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

import gc
from collections import Counter
import copy

import warnings
warnings.filterwarnings("ignore")

%matplotlib inline

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [51]:
# import imp
# util = imp.new_module('util')
exec(open('utils.py').read())

In [8]:
num_rows = None


root = '/content/drive/My Drive/data/RepeatBuyer'
test_file = root+'/data_format1/test_format1.csv'
train_file = root+'/data_format1/train_format1.csv'

user_info_file = root+'/data_format1/user_info_format1.csv'
user_log_file = root+'/data_format1/user_log_format1.csv'

train_data = reduce_mem_usage(read_csv(train_file, num_rows))
test_data = reduce_mem_usage(read_csv(test_file, num_rows))

user_info = reduce_mem_usage(read_csv(user_info_file, num_rows))
user_log = reduce_mem_usage(read_csv(user_log_file, num_rows))

Memory usage after optimization is: 1.74 MB
Decreased by 70.8%
Memory usage after optimization is: 3.49 MB
Decreased by 41.7%
Memory usage after optimization is: 3.24 MB
Decreased by 66.7%
Memory usage after optimization is: 890.48 MB
Decreased by 69.6%

In [ ]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260864 entries, 0 to 260863
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   user_id      260864 non-null  int32
 1   merchant_id  260864 non-null  int16
 2   label        260864 non-null  int8
dtypes: int16(1), int32(1), int8(1)
memory usage: 1.7 MB

In [ ]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261477 entries, 0 to 261476
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   user_id      261477 non-null  int32
 1   merchant_id  261477 non-null  int16
 2   prob         0 non-null       float64
dtypes: float64(1), int16(1), int32(1)
memory usage: 3.5 MB

In [ ]:
user_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424170 entries, 0 to 424169
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    424170 non-null  int32
 1   age_range  421953 non-null  float16
 2   gender     417734 non-null  float16
dtypes: float16(2), int32(1)
memory usage: 3.2 MB

In [9]:
user_log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54925330 entries, 0 to 54925329
Data columns (total 7 columns):
 #   Column       Dtype
---  ------       -----
 0   user_id      int32
 1   item_id      int32
 2   cat_id       int16
 3   seller_id    int16
 4   brand_id     float16
 5   time_stamp   int16
 6   action_type  int8
dtypes: float16(1), int16(3), int32(2), int8(1)
memory usage: 890.5 MB

## Merge User info and label

In [10]:
del test_data['prob']
all_data = train_data.append(test_data)
all_data = all_data.merge(user_info,on=['user_id'],how='left')
del train_data, test_data, user_info
gc.collect()

141

In [ ]:
all_data.head()

   user_id  merchant_id  label  age_range  gender
0    34176         3906    0.0        6.0     0.0
1    34176          121    0.0        6.0     0.0
2    34176         4356    1.0        6.0     0.0
3    34176         2217    0.0        6.0     0.0
4   230784         4818    0.0        0.0     0.0

## Sort user log based on time stamp

In [11]:
user_log = user_log.sort_values(['user_id','time_stamp'])

In [12]:
user_log.head()

          user_id  item_id  cat_id  ...  brand_id  time_stamp  action_type
23288890        1   181459     276  ...    4752.0        1009            0
23288891        1   779078     276  ...    4752.0        1009            0
23288892        1   779078     276  ...    4752.0        1009            0
23288893        1   452837     276  ...    4752.0        1009            0
23288894        1   543397     276  ...    4752.0        1009            0

[5 rows x 7 columns]

## Group all features by user_id

In [17]:
list_join_func = lambda x: " ".join([str(i) for i in x])


agg_dict = {
            'item_id' : list_join_func,	
            'cat_id' : list_join_func,
            'seller_id' : list_join_func,
            'brand_id' : list_join_func,
            'time_stamp' : list_join_func,
            'action_type' : list_join_func
        }

rename_dict = {
            'item_id' : 'item_path',
            'cat_id' : 'cat_path',
            'seller_id' : 'seller_path',
            'brand_id' : 'brand_path',
            'time_stamp' : 'time_stamp_path',
            'action_type' : 'action_type_path'
        }

In [14]:
user_log_path = user_log.groupby('user_id').agg(agg_dict).reset_index().rename(columns=rename_dict)
user_log_path.head()

   user_id  ...                                   action_type_path
0        1  ...  0 0 0 0 0 0 0 2 0 0 0 0 0 0 2 0 0 0 0 0 0 2 2 ...
1        2  ...  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 2 2 0 0 ...
2        3  ...  2 2 0 0 0 0 0 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...
3        4  ...  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...
4        5  ...  3 0 0 2 0 0 0 0 0 0 0 2 0 0 0 0 0 0 0 0 0 0 0 ...

[5 rows x 7 columns]

In [18]:
all_data_path = all_data.merge(user_log_path,on='user_id')

In [40]:
all_data_path.head()

   user_id  ...                                   action_type_path
0    34176  ...  0 0 0 0 0 0 0 0 0 0 0 0 0 2 0 0 0 0 0 0 2 0 2 ...
1    34176  ...  0 0 0 0 0 0 0 0 0 0 0 0 0 2 0 0 0 0 0 0 2 0 2 ...
2    34176  ...  0 0 0 0 0 0 0 0 0 0 0 0 0 2 0 0 0 0 0 0 2 0 2 ...
3    34176  ...  0 0 0 0 0 0 0 0 0 0 0 0 0 2 0 0 0 0 0 0 2 0 2 ...
4   230784  ...  0 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 2 0 0 0 0 0 ...

[5 rows x 11 columns]

In [20]:
del user_log
gc.collect()

0

In [33]:
def user_cnt(df_data, single_col, name):
    df_data[name] = df_data[single_col].apply(cnt_)
    return df_data

def user_nunique(df_data, single_col, name):
    df_data[name] = df_data[single_col].apply(nunique_)
    return df_data
    
def user_max(df_data, single_col, name):
    df_data[name] = df_data[single_col].apply(max_)
    return df_data

def user_min(df_data, single_col, name):
    df_data[name] = df_data[single_col].apply(min_)
    return df_data
    
def user_std(df_data, single_col, name):
    df_data[name] = df_data[single_col].apply(std_)
    return df_data

def user_most_n(df_data, single_col, name, n=1):
    func = lambda x: most_n(x, n)
    df_data[name] = df_data[single_col].apply(func)
    return df_data

def user_most_n_cnt(df_data, single_col, name, n=1):
    func = lambda x: most_n_cnt(x, n)
    df_data[name] = df_data[single_col].apply(func)
    return df_data

def user_col_cnt(df_data, columns_list, action_type, name):
    df_data[name] = df_data.apply(lambda x: col_cnt_(x, columns_list, action_type), axis=1)
    return df_data

def user_col_nunique(df_data, columns_list, action_type, name):
    df_data[name] = df_data.apply(lambda x: col_nuique_(x, columns_list, action_type), axis=1)
    return df_data

## Extract Basic User Behavior Statistic

In [52]:
all_data_test = all_data_path.head(2000)
#all_data_test = all_data_path
# summarize each user behavior

# number of interactions between user and merchants
all_data_test = user_cnt(all_data_test,  'seller_path', 'user_cnt')
# number of sellers
all_data_test = user_nunique(all_data_test,  'seller_path', 'seller_nunique')
# number of different categories
all_data_test = user_nunique(all_data_test,  'cat_path', 'cat_nunique')
# number of different brand
all_data_test = user_nunique(all_data_test,  'brand_path', 'brand_nunique')
# number of different items
all_data_test = user_nunique(all_data_test,  'item_path', 'item_nunique')
# number of active days
all_data_test = user_nunique(all_data_test,  'time_stamp_path', 'time_stamp_nunique')
# number of different types of actions
all_data_test = user_nunique(all_data_test,  'action_type_path', 'action_type_nunique')

In [53]:
all_data_test.head()

   user_id  merchant_id  ...  time_stamp_nunique  action_type_nunique
0    34176         3906  ...                  47                    3
1    34176          121  ...                  47                    3
2    34176         4356  ...                  47                    3
3    34176         2217  ...                  47                    3
4   230784         4818  ...                  16                    2

[5 rows x 18 columns]

In [55]:
# number of click
all_data_test = user_col_cnt(all_data_test,  ['seller_path'], '0', 'user_cnt_0')
# number of add-to-cart
all_data_test = user_col_cnt(all_data_test,  ['seller_path'], '1', 'user_cnt_1')
# number of purchase
all_data_test = user_col_cnt(all_data_test,  ['seller_path'], '2', 'user_cnt_2')
# number of add-to-favorite
all_data_test = user_col_cnt(all_data_test,  ['seller_path'], '3', 'user_cnt_3')


# Number of interacted merchants
all_data_test = user_col_nunique(all_data_test,  ['seller_path'], '0', 'seller_nunique_0')

In [56]:
all_data_test.head()

   user_id  merchant_id  label  ...  user_cnt_2  user_cnt_3 seller_nunique_0
0    34176         3906    0.0  ...          34           7              106
1    34176          121    0.0  ...          34           7              106
2    34176         4356    1.0  ...          34           7              106
3    34176         2217    0.0  ...          34           7              106
4   230784         4818    0.0  ...           7           0               20

[5 rows x 23 columns]

In [57]:
list(all_data_test.columns)

['user_id',
 'merchant_id',
 'label',
 'age_range',
 'gender',
 'item_path',
 'cat_path',
 'seller_path',
 'brand_path',
 'time_stamp_path',
 'action_type_path',
 'user_cnt',
 'seller_nunique',
 'cat_nunique',
 'brand_nunique',
 'item_nunique',
 'time_stamp_nunique',
 'action_type_nunique',
 'user_cnt_0',
 'user_cnt_1',
 'user_cnt_2',
 'user_cnt_3',
 'seller_nunique_0']

## Extract Feature with CounterVector and TFIDF

Treat Seller Path Numbers as Text Corpus

In [58]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer, ENGLISH_STOP_WORDS
from scipy import sparse

tfidfVec = TfidfVectorizer(stop_words=ENGLISH_STOP_WORDS, ngram_range=(1, 1), max_features=100)


# columns_list = ['seller_path', 'cat_path', 'brand_path', 'action_type_path', 'item_path', 'time_stamp_path']
columns_list = ['seller_path']
for i, col in enumerate(columns_list):
    all_data_test[col] = all_data_test[col].astype(str)
    tfidfVec.fit(all_data_test[col])
    data_ = tfidfVec.transform(all_data_test[col])
    if i == 0:
        data_cat = data_
    else:
        data_cat = sparse.hstack((data_cat, data_))

In [59]:
df_tfidf = pd.DataFrame(data_cat.toarray())
df_tfidf.columns = ['tfidf_' + str(i) for i in df_tfidf.columns]
all_data_test = pd.concat([all_data_test, df_tfidf],axis=1)

In [60]:
all_data_test.head()

   user_id  merchant_id  label  ...  tfidf_97  tfidf_98 tfidf_99
0    34176         3906    0.0  ...       0.0  0.012925      0.0
1    34176          121    0.0  ...       0.0  0.012925      0.0
2    34176         4356    1.0  ...       0.0  0.012925      0.0
3    34176         2217    0.0  ...       0.0  0.012925      0.0
4   230784         4818    0.0  ...       0.0  0.000000      0.0

[5 rows x 123 columns]

## Feature Embedding with Word2Vec

In [61]:
import gensim

# Train Word2Vec model

model = gensim.models.Word2Vec(all_data_test['seller_path'].apply(lambda x: x.split(' ')), size=100, window=5, min_count=5, workers=4)
# model.save("product2vec.model")
# model = gensim.models.Word2Vec.load("product2vec.model")

def mean_w2v_(x, model, size=100):
    try:
        i = 0
        for word in x.split(' '):
            if word in model.wv.vocab:
                i += 1
                if i == 1:
                    vec = np.zeros(size)
                vec += model.wv[word]
        return vec / i 
    except:
        return  np.zeros(size)


def get_mean_w2v(df_data, columns, model, size):
    data_array = []
    for index, row in df_data.iterrows():
        w2v = mean_w2v_(row[columns], model, size)
        data_array.append(w2v)
    return pd.DataFrame(data_array)

df_embeeding = get_mean_w2v(all_data_test, 'seller_path', model, 100)
df_embeeding.columns = ['embeeding_' + str(i) for i in df_embeeding.columns]

In [62]:
all_data_test = pd.concat([all_data_test, df_embeeding],axis=1)

In [63]:
len(all_data_test.columns)

223